@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Lato);

@font-face {
  font-family: 'AkkuratMonoRegular';
  src: url("http://bq.com/bundles/bqfrontasserts/fonts/Akkurat/AkkuratMono-Regular.eot");
  src: url("http://bq.com/bundles/bqfrontasserts/fonts/Akkurat/AkkuratMono-Regular.eot?#iefix") format("embedded-opentype"), url("http://bq.com/bundles/bqfrontasserts/fonts/Akkurat/lineto-akkuratmono-pro-regular.woff") format("woff"), url("http://bq.com/bundles/bqfrontasserts/fonts/Akkurat/AkkuratMono-Regular.ttf") format("truetype"), url("http://bq.com/bundles/bqfrontasserts/fonts/Akkurat/AkkuratMono-Regular.svg#bqreaders_icofont") format("svg");
}
@font-face {
  font-family: 'AkkuratProBold';
  src: url("http://bq.com/bundles/bqfrontasserts/fonts/Akkurat/AkkuratPro-Bold.eot");
  src: url("http://bq.com/bundles/bqfrontasserts/fonts/Akkurat/AkkuratPro-Bold.eot?#iefix") format("embedded-opentype"), url("http://bq.com/bundles/bqfrontasserts/fonts/Akkurat/lineto-akkurat-pro-bold.woff") format("woff"), url("http://bq.com/bundles/bqfrontasserts/fonts/Akkurat/AkkuratPro-Bold.ttf") format("truetype"), url("http://bq.com/bundles/bqfrontasserts/fonts/Akkurat/AkkuratPro-Bold.svg#bqreaders_icofont") format("svg");
}
@font-face {
  font-family: 'AkkuratProLight';
  src: url("http://bq.com/bundles/bqfrontasserts/fonts/Akkurat/AkkuratPro-Light.eot");
  src: url("http://bq.com/bundles/bqfrontasserts/fonts/Akkurat/AkkuratPro-Light.eot?#iefix") format("embedded-opentype"), url("http://bq.com/bundles/bqfrontasserts/fonts/Akkurat/lineto-akkurat-pro-light.woff") format("woff"), url("http://bq.com/bundles/bqfrontasserts/fonts/Akkurat/AkkuratPro-Light.ttf") format("truetype"), url("http://bq.com/bundles/bqfrontasserts/fonts/Akkurat/AkkuratPro-Light.svg#bqreaders_icofont") format("svg");
}
@font-face {
  font-family: 'AkkuratProRegular';
  src: url("http://bq.com/bundles/bqfrontasserts/fonts/Akkurat/AkkuratPro-Regular.eot");
  src: url("http://bq.com/bundles/bqfrontasserts/fonts/Akkurat/AkkuratPro-Regular.eot?#iefix") format("embedded-opentype"), url("http://bq.com/bundles/bqfrontasserts/fonts/Akkurat/lineto-akkurat-pro-regular.woff") format("woff"), url("http://bq.com/bundles/bqfrontasserts/fonts/Akkurat/AkkuratPro-Regular.ttf") format("truetype"), url("http://bq.com/bundles/bqfrontasserts/fonts/Akkurat/AkkuratPro-Regular.svg#bqreaders_icofont") format("svg");
}
