#main_footer{
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	margin-top: 2.5em;
	background: black;
	color: white;
	padding: 2.5em 1.5em 1.5em;
}
.social_links{
	width: 80%;
	margin: 2em auto 0;
	li{
		width: 50%;
		margin-bottom: 2em;
		float: left;
		text-align: center;
	}
	a{
		text-decoration: none;
		color:white;
		&:hover .icoFont{
			text-shadow:1px 1px 4px rgba(0,0,0,0.5);
		}
	}
	.social_text{
		vertical-align: 0.3em;
		font-style: italic;
		display: inline-block;
	}
	.icoFont{
		color: white;
		font-size: 1.3em;
		padding: 0.4em;
		border-radius: 3em;
		width: 1em;
		height: 1em;
		display: block;
		margin: 0 auto 0.5em;
	} 
	.icon-logo_bq,.icon-mail{ background: #999;}
	.icon-facebook{ background: $color_facebook;}
	.icon-twitter{ background: $color_twitter;}
	.icon-googleplus{ background: $color_googlePlus;}
	
}

@include breakpoint(xs) {
	#main_footer{
		padding-left: 10%;
		padding-right: 10%;
	}
	.social_links{
		margin-top: 0;
		width: 100%;
		li{
			width: 33%;
		}
	}
}
@include breakpoint(sm) {
	#main_footer{
		padding-left: 15%;
		padding-right: 15%;
	}
	.social_links{
		.icoFont{
			display: inline-block;
			margin: 0 0.5em 0 0;
		}
		li{
			text-align: left;
		}
		li:last-child{
			width: 50%;
		}
	}
}
@include breakpoint(md) {

}
@include breakpoint(lg) {
	#main_footer{

	}
	.social_links{
		width: 110%;
		margin-left: -5%;
		li,li:last-child{
			width: 20%;
		}
	}
}