$color_background: 		#F2F2F2;
$color_blue_1: 			#428bca;
$color_android:         #A4C639;
$color_robotica:        #268474;
$color_smartphone:      #F18E26;
$color_tablet:        	#FC4750;
$color_ereader:        	#992C7E;

$color_facebook: 		#3B5998;
$color_twitter: 		#4099FF;
$color_googlePlus: 		#D34836;

$screen-xs: 			480;
$screen-sm: 			767;
$screen-md: 			991;
$screen-lg: 			1199;